<button class="btn" (click)="onClick()">跳转</button>

<br/>

图表
<button class="btn" (click)="onDownload()">下载</button>

<div id="main" style="width: 500px;height: 500px;"></div>


<button class="btn" (click)="onExport()">导出</button>

<table>
    <thead>
        <tr>
            <th>
                日期
            </th>
            <th>
                数量
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                100
            </th>
            <th>
                100
            </th>
        </tr>
        <tr>
            <th>
                100
            </th>
            <th>
                100
            </th>
        </tr>
        <tr>
            <th>
                100
            </th>
            <th>
                100
            </th>
        </tr>
    </tbody>
</table>