<div class="node-config-panel" *ngIf="selectedNode">
  <h3>Node Configuration</h3>
  
  <form [formGroup]="nodeForm">
    <div class="form-group">
      <label>Node Name</label>
      <input type="text" formControlName="name" class="form-control">
    </div>
    
    <div *ngIf="selectedNode.type === 'api'">
      <div class="form-group">
        <label>HTTP Method</label>
        <select formControlName="method" class="form-control">
          <option *ngFor="let method of httpMethods" [value]="method">{{ method }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label>Request URL</label>
        <input type="text" formControlName="url" class="form-control">
      </div>
      
      <div class="form-group">
        <label>Headers</label>
        <div formArrayName="headers">
          <div *ngFor="let header of getHeaders().controls; let i = index" [formGroupName]="i" class="header-row">
            <input type="text" formControlName="key" placeholder="Key" class="form-control">
            <input type="text" formControlName="value" placeholder="Value" class="form-control">
            <button type="button" (click)="removeHeader(i)" class="btn btn-sm">Remove</button>
          </div>
          <button type="button" (click)="addHeader()" class="btn btn-sm">Add Header</button>
        </div>
      </div>
      
      <div class="form-group">
        <label>Params</label>
        <div formArrayName="params">
          <div *ngFor="let param of getParams().controls; let i = index" [formGroupName]="i" class="param-row">
            <input type="text" formControlName="key" placeholder="Key" class="form-control">
            <input type="text" formControlName="value" placeholder="Value" class="form-control">
            <button type="button" (click)="removeParam(i)" class="btn btn-sm">Remove</button>
          </div>
          <button type="button" (click)="addParam()" class="btn btn-sm">Add Param</button>
        </div>
      </div>
      
      <div class="form-group">
        <label>Request Body</label>
        <textarea formControlName="body" class="form-control" rows="4"></textarea>
      </div>
      
      <div class="form-group">
        <label>Mock Response</label>
        <textarea formControlName="mockResponse" class="form-control" rows="4"></textarea>
      </div>
    </div>
    
    <div *ngIf="selectedNode.type === 'condition'">
      <div class="form-group">
        <label>Source API Node</label>
        <select formControlName="sourceNodeId" class="form-control">
          <option *ngFor="let node of upstreamApiNodes" [value]="node.id">{{ node.name }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label>Field Path</label>
        <input type="text" formControlName="fieldPath" class="form-control" placeholder="e.g. data.age">
      </div>
      
      <div class="form-group">
        <label>Operator</label>
        <select formControlName="operator" class="form-control">
          <option *ngFor="let operator of operators" [value]="operator">{{ operator }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label>Compare Value</label>
        <input type="text" formControlName="compareValue" class="form-control">
      </div>
    </div>
  </form>
</div>

<div class="node-config-panel" *ngIf="!selectedNode">
  <h3>Node Configuration</h3>
  <p>Select a node to configure</p>
</div>